body{
  background-image:linear-gradient(to right, blue, purple) ;
}
.card-body{
  background-color:blue;
}
a.nav-link{

}
.list-group-item{
  background-color:blue;
}
img.favorites{
  height:250px;
  width:200px;
}
img.favorites-1{
  height:250px;
  width:250px;
}
img.favorites-2{
  height:150px;
  width:250px;
}
img.favorites-3{
  height:275px;
  width:200px;
}
.btn{
  color:white;
}
.nav-link{
  color:white;
}
.text{
  color:white;
}
hr{
  color:white;
}
