body{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/ae/Webpage_background.jpg);
}
.card-body{
  background-color:orange;
}
a.nav-link{

}
.list-group-item{
  background-color:orange;
}
img.favorites{
  height:250px;
  width:200px;
}
img.favorites-1{
  height:250px;
  width:200px;
}
img.favorites-2{
  height:150px;
  width:250px;
}
img.favorites-3{
  height:275px;
  width:200px;
}
